
.feature{
    transition: all 0.5s;
}
.feature:hover{
    border: 1px solid #56ab30;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    transform: scale(1.01);
}
.feature-image img{
    width: 100%;
}